/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background-color: #0d0d0d;
    color: #00ffcc;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .terminal {
    background: #1a1a1a;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 0 20px #00ffcc80;
    text-align: left;
    max-width: 600px;
    width: 100%;
    border: 2px solid #00ffcc60;
  }
  
  .prompt {
    font-size: 24px;
    line-height: 1.4;
    display: block;
    color: #00ffcc;
  }
  
  .text {
    color: #ffffff;
    text-shadow: 0 0 8px #00ff
  }  